
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: white;
}

h1, h2 {
  margin-bottom: 20px;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  justify-content: center;
  margin: 20px auto;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #9c6145;
  border: 2px solid #893400;
  position: relative;
  transition: background 0.3s ease;
}

.square:hover {
  background-color: #b86608;
  cursor: pointer;
}

.square img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
