body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #b87115;
}

h1, h2 {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  justify-content: center;
  margin: 20px auto;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border: 1px solid #ccc;
  position: relative;
}

.square img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
