body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #5db6ca, #116980);
}

.container {
  text-align: center;
  color: white;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.scoreboard {
  margin-bottom: 20px;
}

.grid {
  width: 300px;
  height: 300px;
  border: solid black 0.5px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  border: 5px solid rgb(255, 255, 255);
}

.grid div {
  width: 20px;
  height: 20px;
}

.invader {
  background-color: rgb(226, 54, 224);
  border-radius: 10px;
}

.shooter {
  background-color: rgb(101, 255, 101);
}

.laser {
  background-color: rgb(138, 90, 0);
}

.boom {
  background-color: red;
}
